<div class="gameBoard">
	<div *ngFor="let row of boardRows; let i = index;" [ngClass]="{ 'guess':true, 'invalidWord':isInvalidWord(i) }">
		<div *ngFor="let letter of row; let j = index;" [ngClass]="{
				 'letter': true,
				 'animate': isAnimatingLetter(j),
				 'correct': isCorrect(i, j),
				 'elsewhere': isElsewhere(i, j),
				 'absent': isAbsent(i, j)
			 }">
			<span>{{ (letter.value || '').toUpperCase() }}</span>
		</div>
	</div>
	<div *ngIf="isGameFinished() && !isGameSuccess()" class="answer">
		The word was: <b>{{ secretWord() }}</b>
	</div>
</div>
